<div
  class="relative p-3 bg-white flex flex-wrap gap-1 flex-1 border-2 border-gray-blue rounded-lg w-full"
  (click)="clickOnInput()">
  @for (filtersValue of saveInputValue; track $index) {
    <div
      class="flex justify-center items-center text-gray-light text-xs bg-gray-blue rounded-lg p-1 gap-0.5 max-h-[24px] cursor-pointer"
      (click)="deletFilter($index)">
      <span>{{ filtersValue | truncate: 20 }}</span>
    </div>
  }
  <div class="w-auto group max-w-full">
    <form [formGroup]="form">
      <input
        class="focus:border-0 focus:outline-none w-full"
        type="text"
        [id]="'inputId' + inputLabel"
        formControlName="inputValue"
        (keyup.enter)="enterClick()" />
      <div
        [class]="
          'absolute left-[10px] transition-position group-focus-within:top-[-8px] text-base text-darked-grey leading-3 bg-white p-0.5 rounded-md ' +
          (form.get('inputValue')?.value || saveInputValue.length > 0 ? 'top-[-8px]' : 'top-[14px]')
        ">
        {{ inputLabel }}
      </div>
    </form>
  </div>
</div>
